[data-theme="light"] {
	--color-bg: #ffffff;
	--color-fg: #232856;
}

[data-theme="dark"] {
	--color-bg: #232856;
	--color-fg: #ffffff;
}

@font-face {
	font-family: CallingCode;
	src: url(CallingCode-Regular.ttf);
}

body {
	font-family: CallingCode, sans-serif;
	background-color: var(--color-bg);
	color: var(--color-fg);
	margin: 10%;
	margin-top: 1em;
	margin-bottom: 1em;
	border: var(--color-fg) 1px solid;
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom: var(--color-fg) 1px solid;
    position: sticky;
	top: 0;
  	z-index: 999;
	background-color: var(--color-bg);
}

.right-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    display: block;
    width: 100%;
    font-size: 100% !important;
	background-color: var(--color-bg);
	color: var(--color-fg);
	cursor: pointer;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: none;
    text-transform: uppercase;
}

.content {
	display: flex;
	justify-content: center;
	padding: 5%;
}

img {
	display: block;
	width: 100%;
	height: auto;
	border: var(--color-fg) 1px solid;
}

.material-symbols-outlined {
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 40;
}
